.no1 {
    padding: 60px 0;
}

.no1 .tit {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.no1 .tit h2 {
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 15px 0;
}

.no1 .inner {
    display: flex;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.no1 .inner figure>figcaption {
    margin: 10px 0;
}

a {
    font-size: 30px;
    color: blue;
}